<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
			<h3> Use CleanSpeech to get rid of<br>
			words from your vocabulary</h3>
			</div>

		</div>
	</div>

	<div class="container box">
	
			<div class="row">
				<div class="col-xs-12 col-xs-6">
					<h3> Clean out<br>
					filler words</h3>
						<div class="row">
							<div class="col-xs-4">
								<div id="mic-start">
									Microphone
								</div>
							</div>	
						</div>		
					</div>
				</div>
			</div>
		
			<div class="row">
				<div class="col-xs-12 col-xs-6">
				<h3> Improve your<br>
				speech pattern</h3>
				</div>
			</div>
		</div>
	</div>

	




</body>
</html>

