<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>


	<!-- Method here if the user is signed in or not -->
	<!-- <h2> Welcome, <%= user.email  %>!</h2> -->


	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
			<h3> Use CleanSpeech to get rid of<br>
			words from your vocabulary</h3>
			</div>

		</div>
	</div>

	<div class="container">
	
			<div class="row">
				<div class="col-xs-6">
					<h3> Clean out<br>
					filler words</h3>
				</div>
			</div>	
				
			<div class="row">
				<div class="col-xs-6 col-xs-offset-4">
				<!-- Insert Image here -->
					<div id="mic-start-image">
						<img src="mic_button">
					</div>
				</div>	
			</div>
		
			<div class="row">
				<div class="col-xs-12 col-xs-6">
					<h3> Improve your<br>
					speech pattern</h3>
				</div>
			</div>
	</div>		
	<!-- Here will we will do a .each to show attempts -->
	<div id="attempt-graph">
	</div>

	




</body>
</html>
