

	
	<ul>
	<li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
</ul>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
			<h3> Use CleanSpeech to get rid of<br>
			words from your vocabulary</h3>
			</div>

		</div>
	</div>

	<div class="container box">
	
			<div class="row">
				<div class="col-xs-12 col-xs-6">
					<h3> Clean out<br>
					filler words</h3>
						<div class="row">
							<div class="col-xs-4">
								<div id="mic-start-image">
									Microphone
								</div>
							</div>	
						</div>		
					</div>
				</div>
			</div>
		
			<div class="row">
				<div class="col-xs-12 col-xs-6">
				<h3> Improve your<br>
				speech pattern</h3>
				</div>
			</div>
		</div>
	</div>

	<!-- When user is not logged in, user will see "directions" : -->
	
	<div class="container">
		<div class="row">
			 <img src="/images/user_icon.png">
			 <img src="/images/mic_icon.png">
			 <img src="/images/graph_icon.png">

				<p>Create free account to track improvement</p>
				<p>Give presentation</p>
				<p>Improve word choice and speech pattern</p>
		</div>
	</div>
	
	<!-- User will see attempts once logged in or when "speech-pattern" button has been clicked -->
	<!-- I think the attempts graph should also look the same as the Word Results graph on track.html.erb -->
	<!-- .each method to show the attempts -->

	<div class="container">
		<div class="row">
			<h3 class="track-font">Attempt 1</h3>
		</div>
	</div>	




