



	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
			<h3> Use CleanSpeech to get rid of<br>
			words from your vocabulary</h3>
			</div>

		</div>
	</div>

	<div class="container">
	
			<div class="row">
				<div class="col-xs-6">
					<h3> Clean out<br>
					filler words</h3>
				</div>
			</div>	
				
			<div class="row">
				<div class="col-xs-6 col-xs-offset-4">
				<!-- Insert Image here -->
					<div id="mic-start-image">
						<img src="/images/mic_button.png">
					</div>
				</div>	
			</div>
		
			<div class="row">
				<div class="col-xs-12 col-xs-6">
					<h3> Improve your<br>
					speech pattern</h3>
				</div>
			</div>
	</div>		
	<div class="container">
	
			<div class="row">
				<div class="col-xs-6">
					<img src="/images/user_icon.png">
						<div class="col-xs-6 col-xs-offset-4">
						<img src="/images/mic_icon.png">
						<div class="col-xs-offset-4">
						<img src="/images/graph_icon.png">
					</div>
				</div>
			</div>	
				
			
				
				
				</div>	
			</div>
		
			<div class="row">
				<div class="col-xs-12 col-xs-6">
					<h3> Improve your<br>
					speech pattern</h3>
				</div>
			</div>
	</div>	

	<!-- Here will we will do a .each to show attempts -->
	<div id="attempt-graph">
	</div>

	





