<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4">
					<h3 class="track-font">
						Words to track
					</h3>
				</div>
	</div>			

		
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<form action="">
					<!-- Insert search icon here -->
  						<input type="text" name="word">
  						<input type="submit" value="Add">
				</form>
				</div>
			</div>
		</div>	

	<div class="container">
		<div class=-"row">
				<div class="col-xs-12 col-md-4">
					<p>My Words</p>
				
				<!-- Method here for when user enters words it gets added to my words -->
						<p>Like</p>
				
				</div>
	

			</div>
		</div>
		

	<!-- Class "track-font" will be a style the same -->





	<div class="container">
		<div class="row">
				<div class="col-xs-12 col-md-4">
				<div id="1">
					<h3 class="track-font">
						Click the mic to start the listening process...
					
					</h3>
				

				<div class="col-xs-12 col-md-4">	
					<img id="mic-start-button" src="/assets/start_mic.png">
				
				
				</div>
					<!-- AJAX to make the second screen of the mic -->
					<!-- This is the second listening screen here -->
					

			<!-- Timer will go here -->
				</div>
			</div>
		</div>
</div>	

<div id="1">
    My Content 1
</div>

<div id="2" style="display:none;">
    My Dynamic Content
</div>

<div id="static" style="display:none;">
    My Static Content
</div>
<button id="btnClick">Click me!</button>


</body>
</html>



