<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
</head>
<body>
	<form id = "fillerWordInput">
		Filler Words To Add <input id="newFiller" type="text">
		<button type ="submit"> Add </button>
	</form> 
	<br>
	<div id="displayFillers"> </div>

	<button id="testButton"> START SPEAKING! </button>
	<button id="stopButton"> Stop Speaking! </button>
	<br>
	What You Said: <div id="textHere"> </div> 
	<br>
	Total Words: <div id="count"> </div>
</body>
</html>