

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3> Use CleanSpeech to get rid <br>of words from your vocabulary</h3>
			</div>
		</div>
	</div>

	<div class="container index-box">
	
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<h2> Clean out<br> filler words</h2>
				</div>
				
				<div class="col-xs-12 col-md-4">
					<h2> Improve your <br>
					speech pattern</h2>
				</div>
					<div class="col-xs-12 col-md-4">
						<h2 class="trymic"> Try it<br> Now!<br>

						<a href="/track"><img src="/assets/mic_button.png" onmouseover="this.src='/assets/hover_mic.png'" onmouseout="this.src='/assets/mic_button.png'"  alt=""/></a>

						</h2>
		
					</div>
			</div>
	</div>	

	<div class="container icons-box">
	
		<div class="row">
			<!-- <div class="col-lg-offset-6"> -->
				<div class="col-xs-12 col-md-4">
					<a href="/users/sign_up">
						<img src="/assets/biguser_icon.png"><br>
						<h2>Join!</h2>
						<p class="icon-text">Create free account to <br>
						track improvement</p>
					</a>
				</div>
				<div class="col-xs-12 col-md-4">
					<a href = "http://localhost:3000/track">
						<img src="/assets/bigmic_icon.png">
						<h2>Present!</h2>
						<p class="icon-text">Give a <br>
						 presentation
						</p>
					</a>

				</div>
				<div class="col-xs-12 col-md-4">
					<img src="/assets/biggraph_icon.png">
						<h2>Keep Track!</h2>
						<p class="icon-text">Improve word choice and 
						speech pattern
						</p>

				</div>
			</div>
		</div>
		
			
		
		

	<!-- Here will we will do a .each to show attempts -->
	<div id="attempt-graph">
	</div>

	





