		<!--- Here is the page to track words/listen to speech -->



	<div class="container">
		<div class="row">
			<h3 class="words-track">
				Words to track
			</h3>
			<form id= "fillerWordInput" action="">
			<!-- Insert search icon here -->
					<input type="text" id="newFiller" name="word"><br>
					<input type="submit" value="Submit">

			</form>

			<p>Suggested Words</p>
			<ul>
				<li>Like</li>
				<li>So</li>
				<li>Um</li>
			</ul>
			<p>My Words</p>

			<!-- This is where the words you've added go -->
			<div id= "displayFillers"> 
				<% @words.each do |w| %>  
					<div class="fillerItem">
						<%= w.word %> 
					
						<button class="delete-user-word" data-word-id="<%= w.id %>"> X </button>
					</div>	
					

				<% end %>
			</div>

		</div>
	</div>

	<!-- Class "track-font" will be a style the same -->

	<div class="container">
		<div class="row">
			<h3 class="track-font">
				Click the mic to start the listening process...
			</h3>

			<img id="mic-start-button" src="">

			<!-- AJAX to make the second screen of the mic -->
			<!-- This is the second listening screen here -->
			<h3 class="track-font">
				Listening...
			</h3>
			<img id="mic-end-button" src="">
			<h3 class="stopButton">
				Click mic to stop.
			</h3>
			
			<!-- Timer will go here -->
			<div id="timer"> </div>

		</div>
	</div>

	<div class="container">
		<div class="row">
			<h3 class="track-font">Words Results</h3>	<div id="textHere"> </div>

			<!-- This button will lead the user either to login or profile -->
			<button id="speech-pattern">Speech Pattern</button>

			<!-- Graph of the results will be shown here -->
		</div>
	</div>
