// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#myNavbar {
	background: #FFFFFF;
}

.clean-out {
	text-align: left;

}

.icon-text {
	padding-top: 5px;
}

.body-gray {
	
	background: #E6E6E5;
	font-family: 'Questrial', sans-serif; 
}



.index-box {
	 background: #40A85E;
	 color: #FFFFFF;
	 weight: none;
	 padding: 25px 25px;
	 text-align: left;
}

.trymic {
	padding-left: 100px;
}	 


.icons-box {
	
 	color: #F9A027;
	padding: 50px 100px;
	background: #FFFFFF;
	font-size: 18px;
	
	text-align: center;

}